[Desktop Entry]
Name=UFO:AI
GenericName=Strategy Game
GenericName[cs]=Strategická hra
GenericName[da]=Strategispil
GenericName[de]=Strategiespiel
GenericName[es]=Juego de estrategia
GenericName[et]=Strateegiamäng
GenericName[fi]=Avaruuspeli
GenericName[fr]=Jeu de stratégie
GenericName[it]=Gioco di strategia
GenericName[pl]=Gra strategiczna
GenericName[pt_BR]=Jogo de Estratégia
GenericName[ru]=Завоевание
GenericName[sl]=Strateška igra
GenericName[sv]=Strategispel
Comment=UFO: Alien Invasion
Exec=ufoai-wrapper.sh
Icon=ufoai
Terminal=false
Type=Application
Categories=Game;StrategyGame;
